<!DOCTYPE html>
<html>
  <head>
    <title>Comunev</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          crossorigin="anonymous">
    <link rel="shortcut icon" href="https://cdn.icon-icons.com/icons2/512/PNG/512/prog-c_icon-icons.com_50805.png" type="image/x-icon"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="nav">
  <i class="fa fa-contao" id="comunev" aria-hidden="true">omunev</i>
</div>
<div class="container">
  <div class="inner">
    <div class="panel panel-left">
      <div class="panel-content">
        <div class="image-background">
        </div>
      </div>
    </div>
    <div class="panel panel-right">
      <div class="panel-content">
        <div class="form">
          <h1>We are hiring!</h1>
          <form id="formAddUser" name="adduser" method="post" action="/adduser">
          <div class="group">      
            <input id="inputUserName" type="text" name="username" required>
            <span class="highlight"></span>
            <label>Your name</label>
          </div>
          <div class="group">      
            <input id="inputUserEmail" type="text" name="useremail" required>
            <span class="highlight"></span>
            <label>Your email</label>
          </div>
          <div class="group">      
            <input id="inputUserPosition" type="text" name="userposition" required>
            <span class="highlight"></span>
            <label>Position applied</label>
          </div>
          <div class="group">      
            <input id="inputUserQualification" type="text" name="userqualification" required>
            <span class="highlight"></span>
            <label>Your highest qualification</label>
          </div>
          <div class="group">      
            <input id="inputUserLink" type="text" name="userlink" required>
            <span class="highlight"></span>
            <label>Submit public link of resume</label>
          </div>
          <button id="btnSubmit" class="send-btn">Send</button>
      </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="menu"></div>
  </body>
</html>
